{% extends "base.html" %}
{% from "partials/forms.html" import render_field_with_help %}
{% block title %}Register{% endblock %}
{% block content %}
<h1 class="mb-4">Create account</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="row g-3">
        <div class="col-md-6">
            {{ render_field_with_help(form.email, class="form-control") }}
        </div>
        <div class="col-md-6">
            {{ render_field_with_help(form.username, class="form-control") }}
        </div>
        <div class="col-md-6">
            {{ render_field_with_help(form.first_name, class="form-control") }}
        </div>
        <div class="col-md-6">
            {{ render_field_with_help(form.last_name, class="form-control") }}
        </div>
        <div class="col-md-6">
            {{ render_field_with_help(form.password, class="form-control") }}
        </div>
        <div class="col-md-6">
            {{ render_field_with_help(form.confirm_password, class="form-control") }}
        </div>
    </div>
    <div class="mt-4">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}
